body {
  background: linear-gradient(to bottom right, black, #034f84);
}

h1 {
  font-style: "Montserrat, non-serif";
  font-weight: 900;
  color: #fff;
  text-align: center;
}

h3 {
  font-style: "Montserrat, non-serif";
  font-weight: 400;
  color: #fff;
  text-align: center;
}

p {
  font-style: "Montserrat, non-serif";
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.navbar{
  color: #fff;
}

.container-fluid {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.hose-pic {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 10%;
}

.title-text {
  top: 0;
  left: 0;
  text-align: center;
  top: 30px;
  width: 100%;
  height: 100%;

}

}

.dftgh-pic {
  text-align: center;
  width: 30%;
}

.charm {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.hr {
  color: #fff;
}

.meet {
  padding-bottom: 50px;
}

#podcaster-pics {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom right, #667292, #034f84);
}

.Ed {
  text-align: center;
  padding-bottom: 100px;
}

.Ob {
  text-align: center;
  padding-bottom: 100px;
}

.buffer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ed-pic {
  width: 30%;
  border-radius: 100%;
  display: block;
  margin: auto;
  padding: 20px 0 20px 0;
}

.ob-pic {
  width: 29%;
  border-radius: 100%;
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

.rk-pic {
  width: 20%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.flounder-pic {
  width: 17.5%;
  border-radius: 100%;
  margin: auto;
  display: block;
}

.podcast-buttons {
  margin: auto;
  text-align: center;
}

#apple-button {
  margin-top: 50px;
  padding: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

#amazon-button {
  margin-top: 50px;
  padding: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

#amazon-pic {
  width: 280px;
  height: 90px;
  border-radius: 13px;
  text-align: center;
}


#bullet-points {
  font-style: "Montserrat, non-serif";
  font-weight: 100;
  color: #fff;
}

/* Testimonial Section */

.testimonial-title {
  padding-top: 20px;
  padding-bottom: 50px;
}

#testimonials {
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Social Media Section */

.social-media-title {
  padding-top: 20px;
  padding-bottom: 50px;
}

.twitter-timeline {
  width: 100%;
}

#twitter-feeds {
  margin: 15px;
  width: 100%;
  background: linear-gradient(to bottom right, #667292, #034f84);
}

.twitter-follow-button {
  display: block;
  margin: 10px auto 10px;
}


/* Contact Form */

.contact-form {
  color: #fff;
  text-align: left;
}
