body {
  background: linear-gradient(to bottom right, black, #034f84);
}

h1 {
  font-style: "Montserrat, non-serif";
  font-weight: 900;
  color: #fff;
  text-align: center;
}

h3 {
  font-style: "Montserrat, non-serif";
  font-weight: 400;
  color: #fff;
  text-align: center;
}

p {
  font-style: "Montserrat, non-serif";
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.navbar{
  color: #fff;
}

.container-fluid {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.hose-pic {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 10%;
}

.title-text {
  top: 0;
  left: 0;
  text-align: center;
  top: 30px;
  width: 100%;
  height: 100%;
}

.podcast-title {
  font-style: "Montserrat, non-serif";
  font-weight: 900;
  animation: texclip 1.5s linear infinite;
  background: linear-gradient(to right,#034f84 10%, #667292 50%, #45c983 60%);
  background-clip: border-box;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

.dftgh-pic {
  text-align: center;
  animation: moveImgRight 750ms ease-out;
}

.charm {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.hr {
  color: #fff;
}

.meet {
  padding-bottom: 15px;
}

.click-highlights {
  padding-bottom: 50px;
  font-size: 20px;
}

.fa-volume-high {
  color: #034f84;
  animation: blinker 2s step-start infinite;
}

#podcaster-pics {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom right, #667292, #034f84);
}

.Ed {
  text-align: center;
  padding-bottom: 100px;
}

.Ob {
  text-align: center;
  padding-bottom: 100px;
}

.buffer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ed-pic {
  width: 30%;
  border-radius: 100%;
  display: block;
  margin: auto;
  padding: 15px 0 15px 0;
}

.ob-pic {
  width: 30%;
  border-radius: 100%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.rk-pic {
  width: 20%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.flounder-pic {
  width: 15%;
  border-radius: 100%;
  margin: auto;
  display: block;
}

.desc-1 {
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

.desc-2 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#pink {
  color: #ff69b4;
} 

#blue {
  color: #00ffff;
} 

#red {
  color: #d2042d;
}

.podcast-buttons {
  margin: auto;
  text-align: center;
}

#apple-button {
  display: block;
  margin: auto;
  text-align: center;
  animation: moveImgRight 750ms ease-out;
}

#amazon-button {
  display: block;
  margin: auto;
  text-align: center;
  animation: moveImgLeft 750ms ease-out;
}

#amazon-pic {
  width: 280px;
  height: 90px;
  border-radius: 13px;
  text-align: center;
}

@keyframes moveImgRight{
  0% {
  transform: translateX(-100%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes moveImgLeft{
  0% {
  transform: translateX(100%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes spinRight {
  0% {
    transform: translateX(-300%) rotate(0);
  }
  100% {
    transform: translateX(0%) rotate(720deg);
  }
}

@keyframes spinLeft {
  0% {
    transform: translateX(300%) rotate(0);
  }
  100% {
    transform: translateX(0%) rotate(-720deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    color: #fff;
  }
}

.spin  {
  animation: spin 3s;
}

.spinEd  {
  animation: spin 17s;
}

.spinOb  {
  animation: spin 10s;
}

.spinEric  {
  animation: spin 37s;
}

.charm {
  color: #fff;
  font-size: 20px;
  text-align: center;
  animation: spinRight 3s ease-in-out;
}

#bullet-points {
  font-style: "Montserrat, non-serif";
  font-weight: 100;
  color: #fff;
}

/* Testimonial Section */

.testimonial-title {
  padding-top: 20px;
  padding-bottom: 50px;
}

#testimonials {
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Social Media Section */

.social-media-title {
  padding-top: 20px;
  padding-bottom: 50px;
}

.twitter-timeline {
  width: 100%;
}

#twitter-feeds {
  margin: 15px;
  width: 100%;
  background: linear-gradient(to bottom right, #667292, #034f84);
}

.twitter-follow-button {
  display: block;
  margin: 10px auto 10px;
}


/* Contact Form */

.contact-form {
  color: #fff;
  text-align: left;
}
